@model List<Person>
@{
    <link rel="stylesheet" href="~/css/Person.css" />
}



<div class="row">
    <h3>Customers</h3>
</div>

<div class="row mt-3">

    <div class="row w-25">
        <a class="btn btn-success">Create</a>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th class="text-end">Buttons</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td class="text-end">
                        <a class="btn btn-primary">Details</a>
                        <a class="btn btn-warning">Update</a>
                        <a class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>


</div>